<footer class="color">
  <div class="grid r m-0 p-5 ">

    <div class=" col-4 m-auto ">
      <div class="text-center ">
        <img width="50%" src="../../assets/logo/infowebr.svg" alt="">
      </div>
    </div>

    <div class="col-4">
      <h3>
        Contato
      </h3>
      <div class="redes-sociais">
        <i class="pi pi-whatsapp"></i>
        <i class="pi pi-instagram"></i>
        <i class="pi pi-facebook"></i>
        <i class="pi pi-twitter"></i>

      </div>


    </div>
    <div class="col-4 quem-somos">
      <h3>
        Quem somos
      </h3>

      <p>
        Institucional
      </p>
      <p>
        Sobre nós
      </p>
      <p>
        Trabalhe conosco
      </p>
      <p>
        Fale conosco
      </p>



    </div>
    <hr class="m-7 mb-1 hr" style="width: 100%;">
  </div>
  <div class="grid m-0 p-5">
    <div class="grid col-4 ml-7">
      <p class="m-0">
        Privacidade
      </p>
      <p class="m-0 ml-2">
        Termos e Condições

      </p>



    </div>
    <div class="col-7 grid  justify-content-end">
      <p class="m-0">
        © 2022 - Infowebr
      </p>
      <p class="m-0 ml-2">
        Todos os direitos reservados
      </p>


    </div>
  </div>
</footer>
