:host ::ng-deep .p-menuitem-text {
  font-family: 'Libre Franklin',
    sans-serif;
  font-size: 18px;
  margin: 0 3%;

}

::ng-deep .p-card {
  position: absolute;
  right: 0;
  top: 0;
  width: 620px;
  height: 200%;
  transform: translate(105%, 0);
}

::ng-deep .p-megamenu {
  position: relative;
}

h4 {
  font-family: 'Libre Franklin',
    sans-serif;
  font-size: 22px;
  margin: 0 3%;
}

:host ::ng-deep .p-tabmenu-nav {
  display: block;

}

:host ::ng-deep .p-button {
  background: linear-gradient(to top, #ffffff, #f0d50a);
  box-shadow: 0px 3px 3px -3px var(--orange-900);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}

:host ::ng-deep .p-button {
  background: linear-gradient(to top, #ffffff, #f0d50a);
  box-shadow: 0px 3px 3px -3px var(--orange-900);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  background: linear-gradient(to top, #ffbd07, #f0d50a);

}
