<nav class="grid pt-1 mb-1 ">
  <div class="col-3 text-right">
    <img src="../../assets/logo/infowebr.svg" alt="">
  </div>

  <div class="col-6 grid align-items-center justify-content-center">


    <div routerLink="home" class="content-p">
      <p routerLinkActive="active-line" class="opa">Home</p>
      <div class="span"></div>
    </div>

    <div class="content-p">
      <p>Cardápio</p>
      <div class="span"></div>
    </div>

    <div class="content-p">
      <p>Promoções</p>
      <div class="span"></div>
    </div>

    <div class="content-p">
      <p>Atendimento</p>

      <div class="span"></div>
    </div>

    <div class="content-p">
      <p>Quem somos</p>

      <div class="span"></div>
    </div>

  </div>

  <div class="col-3 grid  align-items-center text-center justify-content-start">
    <p-button label="DELIVERY" class="btn-primary"></p-button>
  </div>

</nav>
