<nav class="grid pt-1 mb-1 fadeinleft animation-duration-300 ">
  <div class="col-3 text-right">
    <img src="../../assets/logo/infowebr.svg" alt="">
  </div>

  <div class="col-6 grid align-items-center justify-content-center">

    <div (click)="rota(menu.routerLink)" *ngFor="let menu of menus" routerLink="{{menu.routerLink}}" class="content-p">
      <p routerLinkActive="active-line" class="opa">{{ menu.label }}</p>
      <div class="span"></div>
    </div>



  </div>

  <div class="col-3 grid  align-items-center text-center justify-content-start">
    <p-button label="DELIVERY" class="btn-primary"></p-button>
  </div>

</nav>
