/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeflex/primeflex.css';

body {
  margin: 0;
  padding: 0;
}

.title {
  color: var(--orange-900);
  font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 400;
}
